group Myriad
    framework: net8.0
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget FSharp.Core               ~> 6
    nuget FSharp.Data               ~> 6
    nuget FSharp.Text.RegexProvider ~> 2
    nuget Myriad.Core               0.8.1
    nuget Myriad.Sdk                0.8.1
    nuget Paket.Core                ~> 8

group Main
    framework: net8.0
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget FSharp.Core ~> 8
    nuget Myriad.Sdk 0.8.1

    nuget Pulumi.Aws
    nuget Pulumi.Azure
    nuget Pulumi.AzureAD
    nuget Pulumi.AzureNative
    nuget Pulumi.Command
    nuget Pulumi.Docker
    nuget Pulumi.FSharp
    nuget Pulumi.Gcp
    nuget Pulumi.Kubernetes
    nuget Pulumi.Random
    nuget Pulumi.Tls

group Test
    framework: net8.0
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget FSharp.Core ~> 8.0
    nuget Pulumi.FSharp.Aws
    nuget Pulumi.FSharp.Azure
    nuget Pulumi.FSharp.AzureAD
    nuget Pulumi.FSharp.AzureNative
    nuget Pulumi.FSharp.Core
    nuget Pulumi.FSharp.Gcp
    nuget Pulumi.FSharp.Kubernetes
    nuget Pulumi.FSharp.Tls
